* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
header {
    background-color: white;
    border-bottom: 2px solid #dcd5e7;
    height: 50px;
    padding-top: 50px;
}
header .box-1 {
    background-color: purple;
    width: 150px;
    height: 50px;
    margin-left: 200px;
}
header nav .box-2 menu {
    float: right;
    margin-top: -35px;
    margin-right: 200px;
}
header .box-1 h1 {
    font-size: medium;
    font-weight: lighter;
    color: white;
    text-align: center;
    padding-top: 15px;
}
main {
    background-color: #f6f3f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23dcd5e7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
 article .box-3 {
    background-color: white;
    width: 300px;
    height: 500px;
    margin-left: 200px;
    padding-bottom: ;
}
h2 {
    font-size: medium;
    border-bottom: 2px solid #dcd5e7;
    color: purple;
    padding-bottom: 5px;
}
.box-3 img {
    padding-top: 10px;
    text-overflow: normal;
}
p {
    font-size: small;
    color: purple;
    text-indent: 50px;
    padding-top: 5px;
}
section .box-4 {
    background-color: white;
    width: 150px;
    align-items: center;
}
h3 {
    font-size: small;
    font-weight: lighter;
    text-align: center;
    color: purple;
    padding-bottom: 5px;
    border-bottom: 2px solid #dcd5e7;
}
section .box-4 .row {
    width: auto;
    padding-top: 5px;
}
section .box-4 .column {
    display: inline;
}
footer {
    background-color: #dcd5e7;
    font-size: small;
    color: purple;
    text-align: center;
    border-top: 2px solid purple;
    height: 50px;
}
.copy {
    padding-top: 15px;
}